html, body {
	overflow-x: hidden;
	&.no-scroll {
		overflow: hidden;
	}
}

button {
	&:focus {
		outline: none;
	}
}

p:last-of-type {
	margin-bottom: 0;
}

.mt-25 {
	margin-top: 2.5rem;
}

blockquote {
	hyphens: auto;
}

#logoContainer {
	position: fixed;
	z-index: $zindex-fixed;
	top: 20px;
	left: 20px;
	text-align: center;
	width: 60px;
	transition: all .5s linear;
	img {
		width: 60px;
		background: $gray-100;
		padding: 5px;
		border-radius: 5px;
	}
	@include media-breakpoint-up(md) {
		top: 40px;
		left: 40px;
		width: 80px;
		img {
			width: 200px;
		}
	}
	&.animate-logo {
		animation: logo 1.5s normal;
	}
}

#menuButton {
	position: fixed;
	right: 20px;
	top: 20px;
	background-color: $primary;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	z-index: $zindex-fixed;
	text-align: center;
	.hamburger-inner {
		background-color: $white;
		&:before,
		&:after {
			background-color: $white;
		}
	}
	@include media-breakpoint-up(md) {
		top: 40px;
		right: 40px;
	}
	&.animate-menu {
		animation: menubtn 1.75s normal;
	}
}

.main_menu {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: $body-bg;
	z-index: $zindex-dropdown;
	top: 0;
	right: -100vw;
	transition: all .3s linear;
	.container-fluid.custom-size,
	.row.custom-size {
		height: calc(100% - 135px - 85px);
	}
	.container-fluid.custom-size {
		margin-top: 85px;
	}
	.container.footer,
	.row.footer {
		height: 135px;
	}
	&.menu-mobile {
		&.active {
			right: 0;
		}
	}
	.footer {
		background-color: $primary;
		color: $white;
		a {
			color: $white;
			&:hover,
			&:active,
			&:focus {
				color: $white;
				text-decoration: underline;
			}
		}
	}
	@include media-breakpoint-up(md) {
		.container-fluid.custom-size {
			margin-top: 60px;
		}
		.container-fluid.custom-size,
		.row.custom-size {
			height: calc(100% - 135px - 60px);
		}
	}
	@include media-breakpoint-up(lg) {
		.container-fluid.custom-size {
			margin-top: 85px;
		}
		.container-fluid.custom-size,
		.row.custom-size {
			height: calc(100% - 135px - 85px);
		}
	}
	@include media-breakpoint-up(xl) {
		.container-fluid.custom-size {
			margin-top: 20px;
		}
		.container-fluid.custom-size,
		.row.custom-size {
			height: calc(100% - 135px - 20px);
		}
		&.menu-mobile {
			&.active {
				right: -100vw;
			}
		}
		&.menu-desktop {
			&.active {
				right: 0;
			}
		}
	}
}

.menu-list {
	.menu-item {
		a {
			color: $primary;
			font-weight: 700;
			@include font-size(4.5rem);
			&:after {
				content: '';
				display: block;
				height: 6px;
				width: 0;
				background-color: $primary;
				transition: all .5s linear;
				display: block;
			}
			&:hover,
			&.underline {
				&:after {
					width: 85%;
				}
			}
		}
		.sub-menu {
			display: none;
		}
		&:not(:last-of-type) {
			margin-bottom: 10px;
		}
	}
	@include media-breakpoint-up(lg) {
		.menu-item {
			a {
				@include font-size(3rem);
			}
			&:not(:last-of-type) {
				margin-bottom: 5px;
			}
		}
	}
	@include media-breakpoint-up(xl) {
		margin-left: 200px;
		.menu-item {
			&:not(:last-of-type) {
				margin-bottom: 30px;
			}
		}
	}
	&.menu-list-mobile {
		text-align: center;
		.scroll {
			overflow-y: scroll;
		}
		.menu-item {
			a {
				font-size: 2rem;
				&.colored {
					color: $blue;
				}
			}
		}
		.sub-menu {
			display: block;
			visibility: hidden;
			max-height: 0;
			padding: 0;
			list-style: none;
			transition: max-height .5s cubic-bezier(0, 1, 0, 1);
			.menu-item {
				a {
					font-size: 1.675rem;
					font-weight: 400;
				}
			}
			&.open {
				visibility: visible;
				max-height: 999px;
				transition: max-height 1s ease-in-out;
			}
		}
	}
}

.submenu-list {
	.menu-item {
		@extend .list-inline-item;
		a {
			color: $primary;
			text-transform: uppercase;
			font-weight: 500;
			@include font-size(1.4rem);
			&:hover {
				text-decoration: underline;
			}
		}
		&:not(:last-of-type) {
			border-right: 1px solid $primary;
			padding-right: 11px;
		}
	}
	@include media-breakpoint-up(xl) {
		margin-left: 200px;
	}
}

.dynamic-menu-content {
	max-height: 0;
	transition: max-height .5s ease-out;
	overflow: hidden;
	position: absolute;
	top: 120px;
	left: 50px;
	width: 100%;
	&.active {
		max-height: 2000px;
		transition: max-height .5s ease-in;
	}
}

.custom-sub-menu {
	.menu-item {
		a {
			color: $primary;
			font-weight: 500;
			text-transform: uppercase;
			@include font-size(3rem);
			&:after {
				content: '';
				display: block;
				height: 6px;
				width: 0;
				background-color: $primary;
				transition: all .5s linear;
				display: block;
			}
			&:hover {
				&:after {
					width: 50%;
				}
			}
		}
		&:not(:last-of-type) {
			margin-bottom: 35px;
		}
	}
}

.hh-full-carousel {
	overflow-x: hidden;
	.slick-slide {
		height: 100vh;
		position: relative;
		overflow: hidden;
		img {
			width: 100%;
			object-fit: cover;
			height: 100vh;
			transition: all .5s linear;
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
			}
			&.yellow {
				&:after {
					background-color: rgba(255, 213, 0, .5);
				}
			}
		}
		.inner-container {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: all .5s linear;
			.inner {
				position: absolute;
				bottom: 90px;
				left: 30px;
				width: 85%;
				color: $white;
				h2 {
					font-weight: 700;
					@include font-size(4rem);
				}
				p {
					font-weight: 500;
					@include font-size(2.3rem);
				}
				@include media-breakpoint-up(md) {
					left: 60px;
				}
			}
			&.yellow {
				background-color: rgba(255, 213, 0, .5);
			}
			&.blue {
				background-color: rgba(0, 97, 171, .5);
			}
		}
		&:hover {
			img {
				transform: scale(1.05);
			}
			.inner-container {
				&.yellow {
					background-color: rgba(255, 213, 0, .8);
				}
				&.blue {
					background-color: rgba(0, 97, 171, .8);
				}
			}
		}
	}
	.slick-arrow {
		bottom: 30px;
		width: 34px;
		height: 34px;
		background: $white;
		border-radius: 100%;
		z-index: 999;
		top: unset;
		color: $black;
		transform: none;
		svg {
			width: 20px;
			height: 20px;
		}
		&:before {
			content: '';
		}
		&.slick-prev {
			left: 60px;
		}
		&.slick-next {
			right: 60px;
		}
	}
	.slick-dots {
		position: absolute;
		bottom: 30px;
		li {
			width: 30px;
			height: 30px;
			button {
				&:before {
					font-size: 30px;
					line-height: 30px;
					color: $white;
				}
			}
		}
	}
}

.social-media-container {
	display: none;
	.sm-icon {
		width: 50px;
		height: 50px;
		border-radius: 100%;
		background-color: $white;
		border: 2px solid $blue;
		color: $blue;
		transition: all .5s linear;
		display: inline-block;
		line-height: 50px;
		position: relative;
		&:not(:last-of-type) {
			margin-right: 20px;
		}
		&:first-of-type {
			margin-left: 20px;
		}
		&:hover {
			background-color: $blue;
			color: $white;
		}
		svg {
			position: absolute;
			right: 50%;
			bottom: 50%;
			transform: translate(50%, 50%);
		}
	}
	.menu-news {
		background-color: $primary;
		border-radius: 100%;
		width: 100px;
		height: 100px;
		display: inline-block;
		top: 0;
		position: relative;
		svg {
			font-size: 3em;
			right: 50%;
			bottom: 50%;
			position: absolute;
			color: $white;
			-webkit-transition: all .4s linear;
			transition: all .4s linear;
			transform: translate(50%, 50%) rotate(-25deg);
		}
		&:hover {
			svg {
				transform: translate(50%, 50%) rotate(25deg);
			}
		}
	}
	@media screen and ( min-height: 739px ) {
		display: block;
	}
	@include media-breakpoint-up(xl) {
		margin-left: 200px;
		width: 100%;
		white-space: nowrap;
		.sm-icon {
			margin-right: 20px !important;
			&:first-of-type {
				margin-left: 0;
			}
		}
		.menu-news {
			width: 140px;
			height: 140px;
			top: 50px;
			svg {
				font-size: 4em;
			}
		}
	}
}

.menu-news-container {
	border-top: 4px solid $blue;
	border-bottom: 4px solid $blue;
	padding-top: 25px;
	padding-bottom: 25px;
	width: 60%;
	.news-item {
		cursor: pointer;
		.news-date {
			font-weight: 400;
			letter-spacing: 2px;
			margin-bottom: 10px;
			color: $blue;
		}
		h3 {
			font-weight: 700;
			@include font-size(1.6rem);
			color: $blue;
		}
		p {
			margin-bottom: 0;
			@include font-size(1.125rem);
			color: $blue;
		}
		&:not(:last-of-type) {
			border-bottom: 1px solid $blue;
			padding-bottom: 15px;
		}
		&:not(:first-of-type) {
			padding-top: 15px;
		}
	}
}

.fullpageArrowBottom {
	opacity: 1;
	position: absolute;
	z-index: 999;
	bottom: 75px;
	width: 50px;
	height: 50px;
	background-color: rgba(255, 255, 255, .4);
	text-align: center;
	border-radius: 100%;
	line-height: 80px;
	transition: all .5s linear;
	cursor: pointer;
	animation: blockarrow 3s normal;
	right: 50%;
	transform: translateX(50%);
	svg {
		color: $black;
	}
	&:hover {
		background-color: rgba(0, 0, 0, .4);
		svg {
			color: $white;
		}
	}
}

.countdown {
	text-align: center;
	@include font-size(2.2rem);
	background-color: $primary;
	color: $white;
	padding-top: 3rem;
	padding-bottom: 3rem;
	.countdownValue {
		font-weight: 700;
		color: $secondary;
	}
}

.kopfItem {
	height: 430px;
	position: relative;
	z-index: 0;
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		filter: brightness(60%);
	}
	.overlay {
		position: absolute;
		background-color: rgba(0,0,0,.85);
		top: 0;
		bottom: 0;
		height: 100%;
		width: 0;
		transition: all .5s ease;
		margin: auto;
		overflow: hidden;
		z-index: 1;
	}
	.titleTxt {
		position: absolute;
		z-index: 2;
		color: $white;
		top: 65%;
		left: 30px;
		width: calc(100% - 60px);
		transition: all .5s ease;
		h2,p {
			font-weight: 700;
		}
		h2 {
			@include font-size(3.1rem);
		}
		p {
			@include font-size(1.125rem);
		}
	}
	.quoteInfos {
		position: absolute;
		z-index: 1;
		width: 0;
		height: 50%;
		top: 40%;
		left: 0;
		overflow: hidden;
		blockquote {
			p {
				font-weight: 500;
				@include font-size(1.25rem);
			}
		}
	}
	&:hover {
		.overlay {
			width: 100%;
			left: 0;
			overflow: visible;
			-webkit-transition: all .5s ease;
			transition: all .5s ease;
		}
		.titleTxt {
			top: 40px;
			h2 {
				color: $white;
			}
		}
		.quoteInfos {
			overflow: visible;
			width: 100%;
		}
	}
	@include media-breakpoint-up(lg) {
		/* Tablet quer */
		height: 410px;
	}
	@include media-breakpoint-up(xl) {
		/* Full Size Display */
		height: 518px;
	}
	&.txtItem {
		h3 {
			position: absolute;
			top: 25px;
			left: 25px;
			text-transform: uppercase;
			@include font-size(1.4rem);
		}
		h4 {
			position: absolute;
			bottom: 50%;
			left: 25px;
			@include font-size(3.1rem);
			transform: translateY(50%);
		}
		.hh-btn {
			position: absolute;
			left: 25px;
			bottom: 25px;
			svg {
				position: absolute;
				right: 50%;
				bottom: 50%;
				transform: translate(50%, 50%);
			}
		}
		&.bg-primary {
			h3,
			h4 {
				color: $white;
			}
		}
	}
}

/* Block Images - Text Animation */
.wp-block-cover__inner-container {
	p {
		transform: translateY(0);
		animation: blocktext 2.5s normal;
	}
}

.rounded-image {
	img {
		border-radius: 50rem !important;
	}
}

.foerderer,
#mitstreiter-list {
	.foerdererItem,
	.mitstreiterItem {
		height: 400px;
		overflow: hidden;
		&.heightfix {
			height: 520px;
		}
		.overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: $white;
			transition: all .5s linear;
			padding: 0 15px;
			.inner {
				text-align: center;
				color: $blue;
				position: absolute;
				width: calc(100% - 30px);
				bottom: 50%;
				transform: translateY(50%);
				h2 {
					animation: textzoom 2s normal;
					transform: scale(1);
					transition: all .5s linear;
					font-size: 1.6rem;
				}
			}
			&:hover {
				transform: scale(1.1);
			}
		}
		&:nth-child(even) {
			.overlay {
				background-color: $primary;
				.inner {
					color: $white;
				}
			}
		}
	}
}

.layoutform {
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	.inner {
		padding-top: 100px;
		.layoutform--title {
			color: $white;
			text-shadow: 0 0 3px rgba(0, 0, 0, .4);
			@include font-size(3.125rem);
		}
		.form-outer {
			.form-inner {
				background-color: rgba(255,255,255,.85);
				height: auto;
				padding: 25px;
				padding-bottom: calc(25px + 38px);
			}
		}
	}
	@include media-breakpoint-up(xl) {
		height: calc(100vh - 115px);
		.inner {
			position: absolute;
			bottom: 50%;
			width: 100%;
			transform: translateY(50%);
			padding-top: 0;
		}
		.form-outer {
			.form-inner {
				height: 600px;
				padding-bottom: 25px;
			}
		}
	}
}
.layout-form--form-bottom {
	height: 115px;
	background-color: $black;
	h2 {
		text-align: center;
		color: $white;
		text-transform: uppercase;
		@include font-size(1.9rem);
		margin: 0;
		line-height: 115px;
	}
	@include media-breakpoint-up(xl) {
		h2 {
			@include font-size(2.375rem);
		}
	}
}

.emptypage {
	height: 100vh;
	background: $blue;
	.inner {
		position: absolute;
		right: 50%;
		bottom: 50%;
		transform: translate(50%, 50%);
		ul {
			li {
				&:not(:last-of-type) {
					margin-bottom: 1.5em;
				}
			}
		}
		a {
			color: $white;
			text-decoration: none;
			font-weight: 700;
			@include font-size(2rem);
			transition: all .3s ease-in;
			text-transform: uppercase;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	@include media-breakpoint-up(xl) {
		.inner {
			a {
				white-space: nowrap;
			}
		}
	}
}
.partner-container {
	padding: 25px;
	img {
		width: 100%;
		height: 130px;
		object-fit: contain;
		object-position: center;
		filter: grayscale(100%);
	}
}

.block-contactform {
	min-height: 100vh;
	position: relative;
	padding: 25px;
	&>div {
		position: absolute;
		right: 50%;
		bottom: 50%;
		transform: translate(50%, 50%);
	}
	@include media-breakpoint-up(xl) {
		padding: 0;
	}
}

.block-checklist {
	padding: 30px 0;
	h3 {
		margin-bottom: 30px;
		text-transform: uppercase;
	}
	ul {
		li {
			font-size: 1.3rem;
			line-height: 2rem;
			&:not(:last-of-type) {
				margin-bottom: 20px;
			}
			svg {
				margin-right: 15px;
				font-size: 1.3rem;
			}
		}
	}
}

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.modal {
	.close {
		&.custom {
			position: absolute;
			right: -10px;
			top: -10px;
			background-color: $white;
			color: $black;
			border: 1px solid $black;
			z-index: 9999;
			opacity: 1;
			width: 50px;
			height: 50px;
			border-radius: 100%;
			&:hover {
				opacity: 1;
			}
		}
	}
	@include media-breakpoint-up(lg) {
		.close {
			&.custom {
				width: 75px;
				height: 75px;
				right: -20px;
				top: -20px;
			}
		}
	}
}

.fa-ul {
	&.custom {
		margin-left: 1.7rem;
	}
	li {
		&:not(:last-of-type) {
			margin-bottom: 15px;
		}
	}
}

#pageFooter {
	position: relative;
	.container {
		margin-top: 150px;
		margin-bottom: 50px;
		border-top: 2px solid $blue;
		padding-top: 15px;
		text-align: center;
	}
}

#scrollToTop {
	position: absolute;
	right: 50%;
	transform: translateX(50%) scale(1);
	bottom: 100px;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: $blue;
	cursor: pointer;
	transition: all .25s ease;
	svg {
		color: $white;
		position: absolute;
		right: 50%;
		bottom: 50%;
		transform: translate(50%, 50%) scale(1);
		transition: all .25s ease;
	}
	&:hover {
		transform: translateX(50%) scale(1.05);
		svg {
			transform: translate(50%, 50%) scale(1.05);
		}
	}
}

.page-footer-menu {
	li {
		&.list-inline-item {
			a {
				color: $blue;
				font-size: 1.125rem;
				&:hover,
				&:active,
				&:focus {
					color: $blue;
					text-decoration: underline;
				}
			}
			&:not(:last-of-type) {
				margin-right: 15px;
				&:after {
					content: '|';
					padding-left: 15px;
					font-size: 1.125rem;
					font-weight: 700;
				}
			}
		}
	}
}

#cookieBanner {
	background-color: $white;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 15px 0;
	z-index: 99999;
	max-height: 0;
	visibility: hidden;
	transition: all 1s linear;
	button {
		text-transform: uppercase;
		font-weight: 700;
	}
	p {
		font-size: .8em;
	}
	&.show {
		max-height: 1000px;
		visibility: visible;
		transition: all .35s linear;
	}
}

#lema-container {
	margin-left: auto !important;
	margin-right: auto !important;
}

.fix-bild {
	img {
		object-fit: contain;
		object-position: top;
	}
}

.rm-form-container {
	padding: 25px 0 50px 0;
	label {
		display: none;
	}
	li {
		margin-bottom: 15px !important;
		input {
			width: 100%;
		}
		input[type="submit"] {
			@extend .btn;
			@extend .btn-secondary;
		}
	}
	li[rel="firstname"],
	li[rel="lastname"] {
		display: block;
		width: 100%;
	}
	@include media-breakpoint-up(lg) {
		li[rel="firstname"],
		li[rel="lastname"] {
			display: inline-block;
			width: calc(50% - 7.5px);
		}
		li[rel="firstname"] {
			margin-right: 7.5px;
		}
		li[rel="lastname"] {
			margin-left: 7.5px;
		}
	}
}

.h2.important {
	font-size: 2rem !important;
}

ul {
	.container {
		padding: 0;
	}
}

.accordion {
	.card {
		border: none;
		border-bottom: 1px solid $primary !important;
		.card-header {
			padding: 0;
			cursor: pointer;
			background-color: $gray-100;
			padding: 15px 0;
			h6 {
				line-height: 1.5;
				color: $blue;
			}
		}
		.card-body {
			background-color: $gray-100;
			padding: 1rem 0;
			p {
				color: $blue;
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
}

.social-icons {
	padding: 50px 0;
	p {
		font-size: 3rem;
		font-weight: 700;
	}
	svg {
		transition: all .25s;
		&:hover {
			&.fa-facebook-square {
				color: #3b5998;
			}
			&.fa-instagram-square {
				color: #8a3ab9;
			}
			&.fa-twitter-square {
				color: #00aced;
			}
			&.fa-youtube-square {
				color: #c4302b;
			}
			&.fa-linkedin {
				color: #0077b5;
			}
		}
	}
}

.videoblock {
	background-color: $black;
	video {
		width: 100%;
		height: 100vh;
		object-fit: cover;
		object-position: center;
	}
}

.video_navigation {
	position: absolute;
	top: 25px;
	list-style: none;
	padding-left: 0;
	text-align: center;
	width: 100%;
	li {
		display: inline-block;
		background-color: rgba(0,0,0,.5);
		text-transform: uppercase;
		color: $white;
		padding: .7rem 1rem;
		border: 1px solid $white;
		border-radius: 25px;
		font-weight: 700;
		font-size: 1rem;
		transition: all .25s;
		&:hover {
			background-color: rgba(0,0,0,.9);
		}
		&:not(:last-of-type) {
			margin-right: 10px;
		}
	}
	@include media-breakpoint-up(lg) {
		right: 45px;
		top: 125px;
		width: auto;
		li {
			padding: 1rem 1.6rem;
			font-size: 1.3rem;
			&:not(:last-of-type) {
				margin-right: 25px;
			}
		}
	}
}