@keyframes blocktext {
	from {
		transform: translateY(-50vh);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes blockarrow {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


@keyframes textzoom {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@keyframes logo {
	0% {
		transform: rotate(0) scale(0);
	}
	85% {
		transform: rotate(1080deg) scale(1.3);
	}
	100% {
		transform: rotate(1080deg) scale(1);
	}
}

@keyframes menubtn {
	0% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}