.news-meta-container {
	.news-date,
	.news-author {
		text-align: left;
		color: $blue;
	}
	@include media-breakpoint-up(lg) {
		.news-author {
			text-align: right;
		}
	}
}

#newsarchive {
	h2,
	p {
		color: $blue;
	}
}

.next-news-link,
.home-news-link,
.prev-news-link {
	text-align: left;
}
@include media-breakpoint-up(lg) {
	.home-news-link {
		text-align: center;
	}
	.prev-news-link {
		text-align: right;
	}
}

.page-numbers {
	padding: 10px 15px;
	border: 1px solid $primary;
	font-weight: 700;
	transition: all .25s ease;
	&.current,
	&:hover {
		background-color: $primary;
		color: $white
	}
}